openapi: 3.0.3
info:
  title: SWS API
  description: Search Workspace Service API for managing OpenSearch workspaces and resources
  version: 1.0.0
  contact:
    email: kontakt@sikt.no
    url: https://nva.sikt.no
servers:
  - url: https://api.sws.aws.sikt.no
tags:
  - name: workspace
    description: Workspace index operations
  - name: resource
    description: Workspace resource operations
paths:
  /:
    get:
      operationId: listIndexes
      tags:
        - workspace
      summary: Collection of indexes
      description: Returns a collection of all available indexes in the workspace
      security:
        - CognitoUserPool: [ 'https://api.sws.aws.sikt.no/scopes/workspace' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${WorkspaceHandler.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  /{resource+}:
    post:
      operationId: createResource
      tags:
        - resource
      summary: Create workspace/resource and/or add content to a workspace-resource
      description: Creates a workspace resource or adds content to an existing workspace resource
      parameters:
        - name: resource+
          in: path
          required: true
          description: The name of the resource. Can be any valid opensearch index-path and can include slashes
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      security:
        - CognitoUserPool: [ 'https://api.sws.aws.sikt.no/scopes/workspace' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${IndexHandler.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenSearchResponse'
        '201':
          description: Created
        '204':
          description: No content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
    get:
      operationId: getResource
      tags:
        - resource
      summary: Access a workspace-resource
      description: Retrieves a workspace resource by path
      parameters:
        - name: resource+
          in: path
          required: true
          description: The name of the resource. Can be any valid opensearch index-path and can include slashes
          schema:
            type: string
      security:
        - CognitoUserPool: [ 'https://api.sws.aws.sikt.no/scopes/workspace' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${IndexHandler.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
    put:
      operationId: updateResource
      tags:
        - resource
      summary: Add or modify content in a workspace-resource
      description: Adds or modifies content in an existing workspace resource
      parameters:
        - name: resource+
          in: path
          required: true
          description: The name of the resource. Can be any valid opensearch index-path and can include slashes
          schema:
            type: string
      security:
        - CognitoUserPool: [ 'https://api.sws.aws.sikt.no/scopes/workspace' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${IndexHandler.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenSearchResponse'
        '201':
          description: Created
        '204':
          description: No content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
    head:
      operationId: headResource
      tags:
        - resource
      summary: workspace-resource
      description: Checks if a workspace resource exists
      parameters:
        - name: resource+
          in: path
          required: true
          description: The name of the resource. Can be any valid opensearch index-path and can include slashes
          schema:
            type: string
      security:
        - CognitoUserPool: [ 'https://api.sws.aws.sikt.no/scopes/workspace' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${IndexHandler.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
    delete:
      operationId: deleteResource
      tags:
        - resource
      summary: Deletes a workspace-resource (index)
      description: Deletes a workspace resource and its associated index
      parameters:
        - name: resource+
          in: path
          required: true
          description: The name of the resource. Can be any valid opensearch index-path and can include slashes
          schema:
            type: string
      security:
        - CognitoUserPool: [ 'https://api.sws.aws.sikt.no/scopes/workspace' ]
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${IndexHandler.Arn}/invocations
        responses: { }
        httpMethod: POST
        type: AWS_PROXY
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenSearchResponse'
        '204':
          description: Deleted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    Problem:
      type: object
      properties:
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
    OpenSearchResponse:
      type: object
  securitySchemes:
    CognitoUserPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - Fn::GetAtt: UserPool.Arn